/* results section */

.Results {
  background-color: white;
  min-height: 500px;
  display: relative;
  overflow: scroll;
  text-align: center;
}

.Results div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Results div img {
  width: 400px;
  height: auto;
}

.Results div h1{
  text-align: center;
}

.Results button {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.Results button:hover {
  cursor: pointer;
  animation: grow .1s forwards;
}

@keyframes grow {
  100%{
    transform: scale(1.1);
    color: rgb(0, 150, 45);
  }
}

/* Results bug card */

.Results .bug-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Results .bug-card img {
  align-self: center;
}

.Results .bug-card li {
  list-style: none;
}

.Results .bug-card .bug-image{
  width: 400px;
  height: auto;
  overflow: hidden;
  position: relative;
}

.Results .bug-card .bug-description {
  padding: 20px;
  width: 600px;
  text-align: left;
}

@media only screen and (max-width: 1200px){
  .Results .bug-card {
    flex-direction: column;
  }
  .Results div {
    justify-content: center;
  }
}

@media only screen and (max-width: 500px){
  .Results {
    width: 100%;
  }
  .Results .bug-card .bug-description{
    width: 100%;
  }
  .Results .bug-card .bug-image {
    width: 100%;
  }
}
