.Start {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Start a {
  font-size: 40px;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px;
  background-color: lightgray;
  width: 200px;
  margin: 0 auto;
}

.Start h3{
  font-size: 2em;
}

.Start p{
  padding: 20px;
}