.cloud {
  position: absolute;
  z-index: -1;
  width: 200px;
  height: auto;
}

.spider {
  position: relative;
  width: 100px;
  height: auto;
  margin-top: -15px;
  animation: swing 10s 1.5s infinite;
  transform: rotate(25deg) translateX(-20px)
}

.dropdown {
  transform: translateY(-100px);
  animation: dropdown 5s .5s forwards;
}

@keyframes dropdown {
  100%{
    transform: translateY(0px);
  }
}

@keyframes swing{
50%{
  transform: rotate(-25deg) translateX(20px)
}

  100%{
    transform: rotate(25deg) translateX(-20px)
  }
}

.start-window {
  margin: 100px auto;
  text-align: center;
}

.start-body {
  margin: 0 auto;
  width: 450px;
  height: auto;
  padding: 10px 0px 70px;
  border-radius: 10px;
  border: 3px solid rgb(46, 36, 4);
  background-color: rgba(255, 255, 255, 0.575);
  opacity: 0;
  animation: appear2 .3s 1.5s ease-out forwards;
  overflow: hidden;
}





.Start .start-body a {
  display: block;
  font-size: 40px;
  text-decoration: none;
  padding: 5px;
  color: black;
  width: 200px;
  margin: 0 auto;
}

.Start .start-body a:hover {
  color: gold;
}

.Start .start-body .start-body-about p{
  font-size: 18px;
}

.Start .start-body .howtoplay {
  font-size: 40px;
}

.Start .start-body .howtoplay:hover {
  color: gold;
  cursor: pointer;
}

.Start .start-body .start-body-instructions{
  background-color: rgba(255, 255, 255, 0.623);
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  display: none;
  animation: appear 1s forwards;
}

.Start .start-body .start-body-instructions ol{
  text-align: left;
  line-height: 24px;
}

.Start h3{
  font-size: 2em;
  opacity: 0;
  animation: appear 2s 1s forwards;
}

@keyframes appear {
  100%{
    opacity: 1;
  }
}

@keyframes appear2 {
  0%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}


.cloud1 {
  animation: move1 39s infinite linear;
}

.cloud2 {
  animation: move2 58s forwards linear;
}


.cloud3 {
  animation: move3 60s forwards linear;
}


.cloud4 {
  animation: move4 200s infinite linear;
}

.cloud5 {
  animation: move5 100s forwards linear;
}

.cloud6 {
  animation: move6 40s forwards linear;
}


@keyframes move1 {
  0%{
    transform: translate(-250px, 100px)
  }
  100%{
    transform: translate(1300px, 100px)
  }
}

@keyframes move2 {
  0%{
    transform: translate(-500px, 550px)
  }
  100%{
    transform: translate(1300px, 550px)
  }
}

@keyframes move3 {
  0%{
    transform: translate(-100px, -160px)
  }
  100%{
    transform: translate(1300px, -160px)
  }
}

@keyframes move4 {
  0%{
    transform: translate(-900px, -100px)
  }
  100%{
    transform: translate(1300px, -100px)
  }
}

@keyframes move5 {
  0%{
    transform: translate(300px, 300px)
  }
  100%{
    transform: translate(1300px, 300px)
  }
}

@keyframes move6 {
  0%{
    transform: translate(600px, 400px)
  }
  100%{
    transform: translate(1400px, 400px)
  }
}