.bug1 {
  animation: moveAround 15s linear infinite;
}

.bug2 {
  animation: moveAround2 10s linear infinite;
}

.bug3 {
  animation: moveAround3 12s linear infinite;
}

@keyframes moveAround {
  0%{
    transform: translateY(100vh)
  }
  100%{
      transform: translateY(0vh)
  }
}

@keyframes moveAround2 {
  0%{
    transform: translate(25vh, 100vh)
  }
  100%{
      transform: translate(25vh, 0vh)
  }
}

@keyframes moveAround3 {
  0%{
    transform: translate(65vh, 100vh)
  }
  100%{
      transform: translate(65vh, 0vh)
  }
}

img {
  width: 20px;
  height: auto;
}

img:hover{
  cursor: pointer;
}