.gameWindow {
  width: 75%;
 
  border: 1px solid black;
  margin: 0 auto;
}

.game{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 500px;
}

@media only screen and (max-width: 930px){
  .gameWindow{
    width: 100%;
  }
}