/* game window area */

.game-window {
  opacity: 0;
  animation: appear 2s .5s forwards;
}

/* bug area */

.game{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.tips {
  z-index: -1;
}

.tips p{
  position: absolute;
  top: 0px;
  left: 10px;
  animation: hop 1s infinite;
}

@keyframes hop {
  50%{
    transform: translateY(-10px)
  }
  65%{
    transform: scale(1);
  }
  80%{
    transform: translateY(0px) scale(1.06);
  }
  100%{
    transform: scale(1)
  }
}

@media only screen and (max-width: 930px){
  .game{
    flex-direction: column;
  }
}