.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.mainDiv{
  width: 75%;

  margin: 0 auto;
  min-height: 500px;
}

