.navbar {

  min-height: 70px;
  width: 100%;

  color: black;
  font-size: calc(10px + (24 - 10) * (100vw - 320px) / (1200 - 400));
  z-index: 99;
  white-space: nowrap;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  padding: 26px 0px;
  width: 33.3%;
  text-align: center;
}

.navbar .nav-links {
  font-size: 18px;
  align-self: center;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 900;
}

@media (max-width: 420px) {
  .navbar li:first-child {
    width: 25%;
  }

  .navbar li:nth-child(2) {
    width: 35%;
  }

  .navbar li:last-child {
    width: 40%;
  }
}
